.cart_button {
  border: none;
  padding: 2px;
  cursor: pointer;
  background: none;
  font-size: 2rem;
  color: black;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.cart_button:hover {
  background: black;
  color: #fff159;
  border-radius: 7px;
}

.cart-status {
  background-color: red;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 11px;
  font-weight: 1000;
  color: white;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}